<a href="/sample"><button>サンプル問題を読み込む</button></a>
<a href="/random"><button>ランダム問題を作成する</button></a>
<a href="/api/question">問題API</a>
<br>
<br>

初期状態<br>
<img src="/image/start"><br>
<br>
最終状態<br>
<img src="/image/goal"><br>
<br>
一般抜き型<br>
<% @question['general']['patterns'].each do |pattern| %>
  <img src="/image/pattern/<%= pattern['p'] %>"><br>
  <br>
<% end %>
